%h1 Cecil & Co

= link_to 'Shop', spree_path

= link_to 'http://www.facebook.com/CecilandCo ' do
  %i.fi-social-facebook{style: 'font-size: 36px;'}
= link_to 'http://cecilandco.blogspot.com/' do
  %i.fi-social-blogger{style: 'font-size: 36px;'}
