html, body {
  font-family: Georgia;
}

h1 {
  color: black;
}

#cecil-logo {
  margin-top: 40px;
  font-size: 60px;
  line-height: 60px;
  font-family: Georgia;
}

span.price {
  color: rgba(0,0,0,1);
}
ul#products li .price {
  color: rgba(0,0,0,1);
}

a {
  color: rgba(0,0,0,1);
}

a:hover{
  color: rgba(0,0,0,0.5);
};

nav #main-nav-bar li#link-to-cart a {
  color: #000000;
}

#add-to-cart-button:hover {
  background-color: rgba(0,173,238, 0.8);
}
