html, body {
  font-family: Georgia;
}

.center {
  text-align: center;
}

h1 {
  color: black;
}

#cecil-logo {
  margin-top: 40px;
  font-size: 60px;
  line-height: 60px;
  font-family: Georgia;
}

nav {
  margin: 20px 0;
  padding: 7px;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  ul {
    list-style: none;
    display: inline-block;

    li {
      font-size: 14px;
    }
  }
}

footer {
  margin-top: 20px;
  .social {
    text-align: center;
    i {
      color: black;
      opacity: 0.4;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
